$medium-grey:rgb(153,	158,	163);
$light-grey: rgb(192,	200,	206);
$dark-grey: rgb(115,	131,	143);	
$sky-blue: #ccebff;


* { 
  box-sizing: border-box;  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

#root {
  background-image: url(./images/london-skyline.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-color: $sky-blue;
  min-height: 100vh;
}

#main, #main2 {
  padding: 1.5rem 1.5rem 3rem;
}


.title {
  font-family: 'Odibee Sans', cursive;
}

.subtitle {
  font-weight: 300;
  color: $medium-grey;
  text-shadow: 1px 1px #000000;
}

p.is-size-5 {
  font-weight: 500;
}

#london {

  margin: 3vh 0;

  #total-count {
    height: 30vh;
    width: 30vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    #plane-wrapper {
      width: 30vh;
      height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
      #count-plane {
        background-image: url(./images/airplane-circle.png);
        background-size: cover;
        width: 30vh;
        height: 30vh;
        position: relative;
        left: 0%;
        top: 0%;
      }
    }

    #count-number {
      font-weight: 700;
      color: $dark-grey;
      text-shadow: 2px 2px 2px #000000;
    }

  }

  #origins {
   
    #origin-list {
      max-height: 26vh;
      display: flex;
      flex-flow: column wrap;

      p {
        margin: 0 2vw 0 0;
      }
    }
  }
}


#comparison {
    .country {
      padding-bottom: 0;
    }
}


@media only screen and (max-width: 960px) { 
  
  #london #origins #origin-list {
    max-height: 100vh;
    display: block;
  }

  #london.container {
    margin: 0;
  }

  .desktop-only {
    display: none;
  }

  #main {
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
}








